@mixin animation-name($name) {
	-webkit-animation-name: $name; 
	animation-name: $name;
}

@mixin animation-duration($v) {
	-webkit-animation-duration: $v; 
	animation-duration: $v;
	// -webkit-animation-delay: 0.5s;
	// animation-delay: 0.5s;
}

@mixin sidepanel {
  
  $duration: .5s;
  
  .animating-split-panel {
    
    .v-splitpanel-second-container {
      z-index: 1001;
      overflow: visible;
      position: absolute !important;
  
      .side-panel {
        position: relative;
      }
    }

    &.close-animating .side-panel {
  	    @include animation-name(closeSecondPart);
  	    @include animation-duration($duration);
    }
  
  	&.open-animating .side-panel {
  	    @include animation-name(openSecondPart);
  	    @include animation-duration($duration);
    }
    
    &.close .collapse-button .v-button-caption:before {
        content: "<";
    }
  
    &.open .collapse-button .v-button-caption:before {
        content: ">";
    }
    
    .tabs-panel {
      .v-button {
        padding: 0;
        border: none;
        
        &.selected {
          border: 1px solid black;
        }
        
        &:focus:after {
          box-shadow: none;
          -webkit-box-shadow: none;
        }
      }     
    }
  
  }

}